# Data Cleaning #

### Reading in the datasets

In [2]:
import pandas as pd
import geopandas as gpd
import json

# Reading CSV file
def read_csv(file_path):
    try:
        df = pd.read_csv(file_path)
        print(f"Data from {file_path} loaded successfully!")
        return df
    except Exception as e:
        print(f"Error reading {file_path}: {e}")
        return None

# Reading Excel file
def read_excel(file_path):
    try:
        df = pd.read_excel(file_path, engine='openpyxl')
        print(f"Data from {file_path} loaded successfully!")
        return df
    except Exception as e:
        print(f"Error reading {file_path}: {e}")
        return None

# Reading JSON file
def read_json(file_path):
    try:
        df = pd.read_json(file_path)
        print(f"Data from {file_path} loaded successfully!")
        return df
    except Exception as e:
        print(f"Error reading {file_path}: {e}")
        return None

# Reading GeoJSON file
def read_geojson(file_path):
    try:
        # First attempt: Try using geopandas
        try:
            gdf = gpd.read_file(file_path)
            print(f"Data from {file_path} loaded successfully using GeoPandas!")
            return gdf
        except ImportError:
            # If geopandas is not installed, fall back to manual JSON parsing
            with open(file_path, 'r', encoding='utf-8') as f:
                geojson_data = json.load(f)
            
            # Extract features and properties
            features = []
            for feature in geojson_data['features']:
                # Get properties
                properties = feature['properties']
                
                # Get geometry
                geometry = feature['geometry']
                
                # Combine properties and geometry into one dictionary
                feature_dict = {
                    **properties,
                    'geometry_type': geometry['type'],
                    'coordinates': str(geometry['coordinates'])  # Convert to string to avoid nested structure
                }
                features.append(feature_dict)
            
            # Convert to pandas DataFrame
            df = pd.DataFrame(features)
            print(f"Data from {file_path} loaded successfully using manual parsing!")
            return df
            
    except Exception as e:
        print(f"Error reading {file_path}: {e}")
        return None

# Reading a dataset from any of these formats
def read_dataset(file_path):
    # Detect file extension to determine how to read it
    if file_path.endswith('.csv'):
        return read_csv(file_path)
    elif file_path.endswith('.xlsx'):
        return read_excel(file_path)
    elif file_path.endswith('.json'):
        return read_json(file_path)
    elif file_path.endswith('.geojson'):
        return read_geojson(file_path)
    else:
        print("Unsupported file type")
        return None

# Helper function to check if geopandas is installed
def is_geopandas_available():
    try:
        import geopandas
        return True
    except ImportError:
        return False

# Helper function to install geopandas if needed
def install_geopandas():
    try:
        import subprocess
        subprocess.check_call(["pip", "install", "geopandas"])
        print("GeoPandas installed successfully!")
        return True
    except Exception as e:
        print(f"Error installing GeoPandas: {e}")
        return False

In [3]:
# Example usage
merged_calendar = read_dataset(r"C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Merged_Data\paris_merged_calendar.csv")
listings = read_dataset(r"C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\listings.csv")        
neighbourhoods = read_dataset(r"C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\neighbourhoods.csv")   
neighbourhoods_geojson = read_dataset(r"C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\neighbourhoods.geojson")     
reviews = read_dataset(r"C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\reviews.csv")


# If you'd like to inspect the loaded data
if merged_calendar is not None:
    print(merged_calendar.head())
if listings is not None:
    print(listings.head())
if neighbourhoods is not None:
    print(neighbourhoods.head())
if neighbourhoods_geojson is not None:
    print(neighbourhoods_geojson.head())
if reviews is not None:
    print(reviews.head())

Data from C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Merged_Data\paris_merged_calendar.csv loaded successfully!
Data from C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\listings.csv loaded successfully!
Data from C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\neighbourhoods.csv loaded successfully!
Data from C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\neighbourhoods.geojson loaded successfully using GeoPandas!
Data from C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\reviews.csv loaded successfully!
   listing_id        date  price
0        3109  2023-09-05  110.0
1        3109  2023-09-06  110.0
2        3109  2023-09-07  110.0
3        3109  2023-09-08  110.0
4        3109  2023-09-09  110.0
       id                          listing_url       scrape_id last_scraped  \
0    3109    https://www.airbnb.com/rooms/3109  20240906025355   2024-09-11
1    5396    https://www.airbnb.com/rooms/5396  20240906025355   2024-09-13
2    7397    https://www.airbnb.com/rooms/7397  20240906025355   2024-09-06
3    7964    https://www.airbnb.com/rooms/7964  20240906025355   2024-09-10
4  241715  https://www.airbnb.com/rooms/241715  20240906025355   2024-09-11

            source                                               name  \
0      city scrape                                       zen and calm
1      city scrape       Your perfect Paris studio on ÃŽle Saint-Louis
2      city scrape                   MARAIS - 2ROOMS APT - 2/4 PEOPLE
3  previous scrape                       Sunny apartment with balcony
4      city scrape  Big Cosy Appartement with 100 m2 Terrace in Paris

                                         description  \
0  Lovely Appartment with one bedroom with a Quee...
1  NEW SOFA-BED SINCE JUNE 2023, Please disregard...
2          VERY CONVENIENT, WITH THE BEST LOCATION !
3  We are renting our a spacious, sunny fully fur...
4  Come to stay in our unique Parisian flat to en...

                               neighborhood_overview  \
0  Good restaurants<br />very close the Montparna...
1  You are within walking distance to the Louvre,...
2                                                NaN
3                                                NaN
4  The 19th arrondissement of Paris, located in t...

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/miso/Hosting-...     3631  ...
1  https://a0.muscache.com/pictures/52413/f9bf76f...     7903  ...
2  https://a0.muscache.com/pictures/67928287/330b...     2626  ...
3  https://a0.muscache.com/pictures/miso/Hosting-...    22155  ...
4  https://a0.muscache.com/pictures/miso/Hosting-...  3342097  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        5.00                   5.00                5.00
1                        4.84                   4.96                4.59
2                        4.89                   4.93                4.74
3                        5.00                   5.00                5.00
4                         NaN                    NaN                 NaN

         license instant_bookable calculated_host_listings_count  \
0  7511409139079                t                              1
1  7510402838018                f                              1
2  7510400829623                f                              1
3  7510903576564                f                              1
4  7511913070313                f                              1

  calculated_host_listings_count_entire_homes  \
0                                           1
1                                           1
2                                           1
3                                           1
4                                           1

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.05
1                                           0              2.23
2                                           0              2.20
3                                           0              0.03
4                                           0               NaN

[5 rows x 75 columns]
   neighbourhood_group        neighbourhood
0                  NaN  Batignolles-Monceau
1                  NaN               Bourse
2                  NaN      Buttes-Chaumont
3                  NaN    Buttes-Montmartre
4                  NaN               Ã‰lysÃ©e
         neighbourhood neighbourhood_group  \
0  Batignolles-Monceau                None
1       Palais-Bourbon                None
2      Buttes-Chaumont                None
3                OpÃ©ra                None
4             EntrepÃ´t                None

                                            geometry
0  MULTIPOLYGON (((2.29517 48.87396, 2.29504 48.8...
1  MULTIPOLYGON (((2.3209 48.86306, 2.32094 48.86...
2  MULTIPOLYGON (((2.38943 48.90122, 2.39014 48.9...
3  MULTIPOLYGON (((2.33978 48.88203, 2.33982 48.8...
4  MULTIPOLYGON (((2.36469 48.88437, 2.36486 48.8...
   listing_id         id        date  reviewer_id reviewer_name  \
0        3109  207127433  2017-10-28     51636494      Patricia
1        3109  208779822  2017-11-03      4142888      Patricia
2        3109  295840159  2018-07-24      7415343       Laurent
3        3109  553502638  2019-10-24     21159216     Anastasia
4        5396       4824  2009-06-30        19995         Sarah

                                            comments
0            Tout s'est bien dÃ©roulÃ©. Merci bien. PG
1  Un petit nid fouiller douillet situÃ© dans  app...
2  Appartement spacieux, propre,clair, et calme Ã ...
3  Appartement totalement rÃ©novÃ©, en parfait Ã©tat...
4  Perfect location!! Nasrine was a delight and m...

In [4]:
if merged_calendar is not None:
    print(merged_calendar.head())

   listing_id        date  price
0        3109  2023-09-05  110.0
1        3109  2023-09-06  110.0
2        3109  2023-09-07  110.0
3        3109  2023-09-08  110.0
4        3109  2023-09-09  110.0

In [5]:
if listings is not None:
    print(listings.head())

       id                          listing_url       scrape_id last_scraped  \
0    3109    https://www.airbnb.com/rooms/3109  20240906025355   2024-09-11
1    5396    https://www.airbnb.com/rooms/5396  20240906025355   2024-09-13
2    7397    https://www.airbnb.com/rooms/7397  20240906025355   2024-09-06
3    7964    https://www.airbnb.com/rooms/7964  20240906025355   2024-09-10
4  241715  https://www.airbnb.com/rooms/241715  20240906025355   2024-09-11

            source                                               name  \
0      city scrape                                       zen and calm
1      city scrape       Your perfect Paris studio on ÃŽle Saint-Louis
2      city scrape                   MARAIS - 2ROOMS APT - 2/4 PEOPLE
3  previous scrape                       Sunny apartment with balcony
4      city scrape  Big Cosy Appartement with 100 m2 Terrace in Paris

                                         description  \
0  Lovely Appartment with one bedroom with a Quee...
1  NEW SOFA-BED SINCE JUNE 2023, Please disregard...
2          VERY CONVENIENT, WITH THE BEST LOCATION !
3  We are renting our a spacious, sunny fully fur...
4  Come to stay in our unique Parisian flat to en...

                               neighborhood_overview  \
0  Good restaurants<br />very close the Montparna...
1  You are within walking distance to the Louvre,...
2                                                NaN
3                                                NaN
4  The 19th arrondissement of Paris, located in t...

                                         picture_url  host_id  ...  \
0  https://a0.muscache.com/pictures/miso/Hosting-...     3631  ...
1  https://a0.muscache.com/pictures/52413/f9bf76f...     7903  ...
2  https://a0.muscache.com/pictures/67928287/330b...     2626  ...
3  https://a0.muscache.com/pictures/miso/Hosting-...    22155  ...
4  https://a0.muscache.com/pictures/miso/Hosting-...  3342097  ...

  review_scores_communication review_scores_location review_scores_value  \
0                        5.00                   5.00                5.00
1                        4.84                   4.96                4.59
2                        4.89                   4.93                4.74
3                        5.00                   5.00                5.00
4                         NaN                    NaN                 NaN

         license instant_bookable calculated_host_listings_count  \
0  7511409139079                t                              1
1  7510402838018                f                              1
2  7510400829623                f                              1
3  7510903576564                f                              1
4  7511913070313                f                              1

  calculated_host_listings_count_entire_homes  \
0                                           1
1                                           1
2                                           1
3                                           1
4                                           1

  calculated_host_listings_count_private_rooms  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0

  calculated_host_listings_count_shared_rooms reviews_per_month
0                                           0              0.05
1                                           0              2.23
2                                           0              2.20
3                                           0              0.03
4                                           0               NaN

[5 rows x 75 columns]

In [6]:
if reviews is not None:
    print(reviews.head())

   listing_id         id        date  reviewer_id reviewer_name  \
0        3109  207127433  2017-10-28     51636494      Patricia
1        3109  208779822  2017-11-03      4142888      Patricia
2        3109  295840159  2018-07-24      7415343       Laurent
3        3109  553502638  2019-10-24     21159216     Anastasia
4        5396       4824  2009-06-30        19995         Sarah

                                            comments
0            Tout s'est bien dÃ©roulÃ©. Merci bien. PG
1  Un petit nid fouiller douillet situÃ© dans  app...
2  Appartement spacieux, propre,clair, et calme Ã ...
3  Appartement totalement rÃ©novÃ©, en parfait Ã©tat...
4  Perfect location!! Nasrine was a delight and m...

In [7]:
if neighbourhoods_geojson is not None:
    print(neighbourhoods_geojson.head(20))

          neighbourhood neighbourhood_group  \
0   Batignolles-Monceau                None
1        Palais-Bourbon                None
2       Buttes-Chaumont                None
3                 OpÃ©ra                None
4              EntrepÃ´t                None
5              Gobelins                None
6             Vaugirard                None
7               Reuilly                None
8                Louvre                None
9            Luxembourg                None
10               Ã‰lysÃ©e                None
11               Temple                None
12         MÃ©nilmontant                None
13             PanthÃ©on                None
14                Passy                None
15         Observatoire                None
16           Popincourt                None
17               Bourse                None
18    Buttes-Montmartre                None
19       HÃ´tel-de-Ville                None

                                             geometry
0   MULTIPOLYGON (((2.29517 48.87396, 2.29504 48.8...
1   MULTIPOLYGON (((2.3209 48.86306, 2.32094 48.86...
2   MULTIPOLYGON (((2.38943 48.90122, 2.39014 48.9...
3   MULTIPOLYGON (((2.33978 48.88203, 2.33982 48.8...
4   MULTIPOLYGON (((2.36469 48.88437, 2.36486 48.8...
5   MULTIPOLYGON (((2.37491 48.83801, 2.37698 48.8...
6   MULTIPOLYGON (((2.29932 48.85217, 2.30088 48.8...
7   MULTIPOLYGON (((2.41388 48.83357, 2.41401 48.8...
8   MULTIPOLYGON (((2.32801 48.86992, 2.32997 48.8...
9   MULTIPOLYGON (((2.34459 48.85405, 2.34428 48.8...
10  MULTIPOLYGON (((2.32584 48.86956, 2.32569 48.8...
11  MULTIPOLYGON (((2.36383 48.8675, 2.36389 48.86...
12  MULTIPOLYGON (((2.41276 48.87547, 2.41284 48.8...
13  MULTIPOLYGON (((2.36443 48.84614, 2.36484 48.8...
14  MULTIPOLYGON (((2.27427 48.87836, 2.27749 48.8...
15  MULTIPOLYGON (((2.33381 48.84061, 2.33673 48.8...
16  MULTIPOLYGON (((2.39624 48.85416, 2.39708 48.8...
17  MULTIPOLYGON (((2.35152 48.86443, 2.35095 48.8...
18  MULTIPOLYGON (((2.3658 48.88554, 2.36469 48.88...
19  MULTIPOLYGON (((2.36851 48.85573, 2.369 48.853...

In [8]:
if neighbourhoods is not None:
    print(neighbourhoods.head())

   neighbourhood_group        neighbourhood
0                  NaN  Batignolles-Monceau
1                  NaN               Bourse
2                  NaN      Buttes-Chaumont
3                  NaN    Buttes-Montmartre
4                  NaN               Ã‰lysÃ©e

In [9]:
import pandas as pd

def clean_data(df):
    # Drop columns: 'listing_url', 'scrape_id' and 68 other columns
    df = df.drop(columns=['listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'neighborhood_overview', 'description', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_total_listings_count', 'host_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_group_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'amenities', 'beds', 'bedrooms', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'license', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month'])
    return df

# Loaded variable 'df' from URI: c:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\listings.csv
df = pd.read_csv(r'c:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Data_Mor\paris\2024-09-06\listings.csv')

cleaned_listings = clean_data(df.copy())
cleaned_listings.head()

       id neighbourhood_cleansed   latitude  longitude    price
0    3109           Observatoire  48.831910   2.318700  $113.00
1    5396         HÃ´tel-de-Ville  48.852470   2.358350   $95.00
2    7397         HÃ´tel-de-Ville  48.859090   2.353150  $145.00
3    7964                  OpÃ©ra  48.874170   2.342450      NaN
4  241715        Buttes-Chaumont  48.893464   2.378341  $450.00

In [10]:
def clean_data(cleaned_listings):
    # Rename column 'id' to 'listing_id'
    cleaned_listings = cleaned_listings.rename(columns={'id': 'listing_id'})
    return cleaned_listings

cleaned_listings_clean = clean_data(cleaned_listings.copy())
cleaned_listings_clean.head()

   listing_id neighbourhood_cleansed   latitude  longitude    price
0        3109           Observatoire  48.831910   2.318700  $113.00
1        5396         HÃ´tel-de-Ville  48.852470   2.358350   $95.00
2        7397         HÃ´tel-de-Ville  48.859090   2.353150  $145.00
3        7964                  OpÃ©ra  48.874170   2.342450      NaN
4      241715        Buttes-Chaumont  48.893464   2.378341  $450.00

In [11]:
# Assuming your dataframes are called df1 and df2
merged_df = pd.merge(merged_calendar, cleaned_listings_clean, 
                    on='listing_id',
                    how='inner',
                    suffixes=('_1', '_2'))

# Print info about the merge
print("Original shapes:")
print(f"DataFrame 1: {merged_calendar.shape}")
print(f"DataFrame 2: {cleaned_listings_clean.shape}")
print(f"\nMerged shape: {merged_df.shape}")
print(f"Number of unique listings: {merged_df['listing_id'].nunique()}")

# Check for duplicate columns
duplicate_cols = [col for col in merged_df.columns if col.endswith('_1') or col.endswith('_2')]
if duplicate_cols:
    print("\nColumns that were duplicated during merge:")
    print(duplicate_cols)

# Show first few rows
print("\nFirst few rows of merged dataset:")
print(merged_df.head())

Original shapes:
DataFrame 1: (79418789, 3)
DataFrame 2: (95461, 5)

Merged shape: (64012312, 7)
Number of unique listings: 95461

Columns that were duplicated during merge:
['price_1', 'price_2']

First few rows of merged dataset:
   listing_id        date  price_1 neighbourhood_cleansed  latitude  \
0        3109  2023-09-05    110.0           Observatoire  48.83191
1        3109  2023-09-06    110.0           Observatoire  48.83191
2        3109  2023-09-07    110.0           Observatoire  48.83191
3        3109  2023-09-08    110.0           Observatoire  48.83191
4        3109  2023-09-09    110.0           Observatoire  48.83191

   longitude  price_2
0     2.3187  $113.00
1     2.3187  $113.00
2     2.3187  $113.00
3     2.3187  $113.00
4     2.3187  $113.00

In [12]:
merged_df = merged_df.drop(columns=['price_2'])

In [13]:
merged_df

,listing_id,date,price_1,neighbourhood_cleansed,latitude,longitude
0,3109,2023-09-05,110.0,Observatoire,48.831910,2.318700
1,3109,2023-09-06,110.0,Observatoire,48.831910,2.318700
2,3109,2023-09-07,110.0,Observatoire,48.831910,2.318700
3,3109,2023-09-08,110.0,Observatoire,48.831910,2.318700
4,3109,2023-09-09,110.0,Observatoire,48.831910,2.318700
...,...,...,...,...,...,...
64012307,1239136641042729451,2025-09-06,110.0,PanthÃ©on,48.839583,2.346317
64012308,1239136641042729451,2025-09-07,110.0,PanthÃ©on,48.839583,2.346317
64012309,1239136641042729451,2025-09-08,110.0,PanthÃ©on,48.839583,2.346317
64012310,1239136641042729451,2025-09-09,110.0,PanthÃ©on,48.839583,2.346317
64012311,1239136641042729451,2025-09-10,110.0,PanthÃ©on,48.839583,2.346317

In [14]:
def clean_data(merged_df):
    # Rename column 'price_1' to 'price'
    merged_df = merged_df.rename(columns={'price_1': 'price'})
    return merged_df

merged_df_clean = clean_data(merged_df.copy())
merged_df_clean.head()

   listing_id        date  price neighbourhood_cleansed  latitude  longitude
0        3109  2023-09-05  110.0           Observatoire  48.83191     2.3187
1        3109  2023-09-06  110.0           Observatoire  48.83191     2.3187
2        3109  2023-09-07  110.0           Observatoire  48.83191     2.3187
3        3109  2023-09-08  110.0           Observatoire  48.83191     2.3187
4        3109  2023-09-09  110.0           Observatoire  48.83191     2.3187

In [15]:
merged_df_clean

,listing_id,date,price,neighbourhood_cleansed,latitude,longitude
0,3109,2023-09-05,110.0,Observatoire,48.831910,2.318700
1,3109,2023-09-06,110.0,Observatoire,48.831910,2.318700
2,3109,2023-09-07,110.0,Observatoire,48.831910,2.318700
3,3109,2023-09-08,110.0,Observatoire,48.831910,2.318700
4,3109,2023-09-09,110.0,Observatoire,48.831910,2.318700
...,...,...,...,...,...,...
64012307,1239136641042729451,2025-09-06,110.0,PanthÃ©on,48.839583,2.346317
64012308,1239136641042729451,2025-09-07,110.0,PanthÃ©on,48.839583,2.346317
64012309,1239136641042729451,2025-09-08,110.0,PanthÃ©on,48.839583,2.346317
64012310,1239136641042729451,2025-09-09,110.0,PanthÃ©on,48.839583,2.346317
64012311,1239136641042729451,2025-09-10,110.0,PanthÃ©on,48.839583,2.346317

In [17]:
merged_df_clean['price'] = merged_df_clean['price'].ffill()

In [18]:
merged_df_clean

,listing_id,date,price,neighbourhood_cleansed,latitude,longitude
0,3109,2023-09-05,110.0,Observatoire,48.831910,2.318700
1,3109,2023-09-06,110.0,Observatoire,48.831910,2.318700
2,3109,2023-09-07,110.0,Observatoire,48.831910,2.318700
3,3109,2023-09-08,110.0,Observatoire,48.831910,2.318700
4,3109,2023-09-09,110.0,Observatoire,48.831910,2.318700
...,...,...,...,...,...,...
64012307,1239136641042729451,2025-09-06,110.0,PanthÃ©on,48.839583,2.346317
64012308,1239136641042729451,2025-09-07,110.0,PanthÃ©on,48.839583,2.346317
64012309,1239136641042729451,2025-09-08,110.0,PanthÃ©on,48.839583,2.346317
64012310,1239136641042729451,2025-09-09,110.0,PanthÃ©on,48.839583,2.346317
64012311,1239136641042729451,2025-09-10,110.0,PanthÃ©on,48.839583,2.346317

In [20]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
 
# Encode categorical variables
le = LabelEncoder()
merged_df_clean['neighbourhood_cleansed_encoded'] = le.fit_transform(merged_df_clean['neighbourhood_cleansed'])

In [22]:
merged_df_clean = merged_df_clean.drop(columns=['neighbourhood_cleansed'])

In [23]:
merged_df_clean

,listing_id,date,price,latitude,longitude,neighbourhood_cleansed_encoded
0,3109,2023-09-05,110.0,48.831910,2.318700,10
1,3109,2023-09-06,110.0,48.831910,2.318700,10
2,3109,2023-09-07,110.0,48.831910,2.318700,10
3,3109,2023-09-08,110.0,48.831910,2.318700,10
4,3109,2023-09-09,110.0,48.831910,2.318700,10
...,...,...,...,...,...,...
64012307,1239136641042729451,2025-09-06,110.0,48.839583,2.346317,13
64012308,1239136641042729451,2025-09-07,110.0,48.839583,2.346317,13
64012309,1239136641042729451,2025-09-08,110.0,48.839583,2.346317,13
64012310,1239136641042729451,2025-09-09,110.0,48.839583,2.346317,13
64012311,1239136641042729451,2025-09-10,110.0,48.839583,2.346317,13

In [24]:
df = merged_df_clean.copy()

In [28]:
df['date'] = pd.to_datetime(df['date'])

In [30]:
import numpy as np

df['DTF_day_of_week'] = df['date'].dt.dayofweek
df['DTF_month'] = df['date'].dt.month
df['DTF_is_weekend'] = df['DTF_day_of_week'].isin([5, 6]).astype(int)
df['DTF_season_sin'] = np.sin(2 * np.pi * df['date'].dt.dayofyear/365.25)
df['DTF_season_cos'] = np.cos(2 * np.pi * df['date'].dt.dayofyear/365.25)

In [ ]:
threshold = df['price'].quantile(0.99)  # 99e percentiel

# Vind alle listings die minstens Ã©Ã©n outlier hebben
outlier_listings = df[df['price'] > threshold]['listing_id'].unique()
df = df[~df['listing_id'].isin(outlier_listings)]  # Verwijder alle rijen van deze listings

In [36]:
df

,listing_id,date,price,latitude,longitude,neighbourhood_cleansed_encoded,DTF_day_of_week,DTF_month,DTF_is_weekend,DTF_season_sin,DTF_season_cos
0,3109,2023-09-05,110.0,48.831910,2.318700,10,1,9,0,-0.902099,-0.431530
1,3109,2023-09-06,110.0,48.831910,2.318700,10,2,9,0,-0.909388,-0.415948
2,3109,2023-09-07,110.0,48.831910,2.318700,10,3,9,0,-0.916409,-0.400244
3,3109,2023-09-08,110.0,48.831910,2.318700,10,4,9,0,-0.923158,-0.384421
4,3109,2023-09-09,110.0,48.831910,2.318700,10,5,9,1,-0.929634,-0.368484
...,...,...,...,...,...,...,...,...,...,...,...
64012307,1239136641042729451,2025-09-06,110.0,48.839583,2.346317,13,5,9,1,-0.909388,-0.415948
64012308,1239136641042729451,2025-09-07,110.0,48.839583,2.346317,13,6,9,1,-0.916409,-0.400244
64012309,1239136641042729451,2025-09-08,110.0,48.839583,2.346317,13,0,9,0,-0.923158,-0.384421
64012310,1239136641042729451,2025-09-09,110.0,48.839583,2.346317,13,1,9,0,-0.929634,-0.368484
64012311,1239136641042729451,2025-09-10,110.0,48.839583,2.346317,13,2,9,0,-0.935835,-0.352439

In [42]:
df

,listing_id,date,price,latitude,longitude,neighbourhood_cleansed_encoded,DTF_day_of_week,DTF_month,DTF_is_weekend,DTF_season_sin,DTF_season_cos
0,3109,2023-09-05,110.0,48.831910,2.318700,10,1,9,0,-0.902099,-0.431530
1,3109,2023-09-06,110.0,48.831910,2.318700,10,2,9,0,-0.909388,-0.415948
2,3109,2023-09-07,110.0,48.831910,2.318700,10,3,9,0,-0.916409,-0.400244
3,3109,2023-09-08,110.0,48.831910,2.318700,10,4,9,0,-0.923158,-0.384421
4,3109,2023-09-09,110.0,48.831910,2.318700,10,5,9,1,-0.929634,-0.368484
...,...,...,...,...,...,...,...,...,...,...,...
64012307,1239136641042729451,2025-09-06,110.0,48.839583,2.346317,13,5,9,1,-0.909388,-0.415948
64012308,1239136641042729451,2025-09-07,110.0,48.839583,2.346317,13,6,9,1,-0.916409,-0.400244
64012309,1239136641042729451,2025-09-08,110.0,48.839583,2.346317,13,0,9,0,-0.923158,-0.384421
64012310,1239136641042729451,2025-09-09,110.0,48.839583,2.346317,13,1,9,0,-0.929634,-0.368484
64012311,1239136641042729451,2025-09-10,110.0,48.839583,2.346317,13,2,9,0,-0.935835,-0.352439

In [58]:
def create_non_leaking_features(df, forecast_horizon=60, max_listings=20000):
    """
    Create lag and rolling window features that don't leak future information,
    properly shifted by the forecast horizon.
    
    Args:
        df: DataFrame with 'listing_id', 'date', and 'price' columns
        forecast_horizon: Number of days ahead to predict (default 60)
        max_listings: Maximum number of listings to process (default 20000)
    """
    # Ensure data is sorted
    df = df.sort_values(['listing_id', 'date'])
    
    # Get first max_listings unique listing IDs
    unique_listings = df['listing_id'].unique()[:max_listings]
    df = df[df['listing_id'].isin(unique_listings)]
    
    processed_data = []
    total_listings = len(unique_listings)
    print(f"Starting feature creation for {total_listings} listings...")
    
    for idx, listing_id in enumerate(unique_listings, 1):
        if idx % 100 == 0 or idx == 1 or idx == total_listings:  # Print every 100 listings
            print(f"Processing listing {idx}/{total_listings} ({(idx/total_listings*100):.1f}%)")
        
        listing_data = df[df['listing_id'] == listing_id].copy()
        
        # Create lag features (all greater than forecast horizon)
        lag_periods = [90, 120, 150, 180]
        print(f"  Creating lag features for listing {listing_id}...") if idx % 1000 == 0 else None
        for lag in lag_periods:
            listing_data[f'price_lag_{lag}d'] = listing_data['price'].shift(lag)
        
        # For rolling windows, first create shifted series that stops at prediction point
        shifted_series = listing_data['price'].shift(forecast_horizon)
        
        # Calculate rolling windows on the shifted series
        windows = [30, 60, 90]
        print(f"  Calculating rolling windows for listing {listing_id}...") if idx % 1000 == 0 else None
        for window in windows:
            listing_data[f'rolling_mean_{window}d'] = shifted_series.rolling(window=window, min_periods=1, closed='left', center=False).mean()
            listing_data[f'rolling_std_{window}d'] = shifted_series.rolling(window=window, min_periods=1, closed='left', center=False).std()
            listing_data[f'rolling_max_{window}d'] = shifted_series.rolling(window=window, min_periods=1, closed='left', center=False).max()
            listing_data[f'rolling_min_{window}d'] = shifted_series.rolling(window=window, min_periods=1, closed='left', center=False).min()
        
        processed_data.append(listing_data)
    
    print("Concatenating processed data...")
    processed_df = pd.concat(processed_data)
    
    # Remove NaN values from feature creation
    initial_rows = len(processed_df)
    processed_df = processed_df.dropna()
    final_rows = len(processed_df)
    
    print(f"\nFeature creation complete!")
    print(f"Initial rows: {initial_rows}")
    print(f"Final rows after removing NaN: {final_rows}")
    print(f"Rows removed: {initial_rows - final_rows} ({((initial_rows - final_rows)/initial_rows*100):.1f}%)")
    
    return processed_df

In [59]:
df = create_non_leaking_features(df)

Starting feature creation for 20000 listings...
Processing listing 1/20000 (0.0%)
Processing listing 100/20000 (0.5%)
Processing listing 200/20000 (1.0%)
Processing listing 300/20000 (1.5%)
Processing listing 400/20000 (2.0%)
Processing listing 500/20000 (2.5%)
Processing listing 600/20000 (3.0%)
Processing listing 700/20000 (3.5%)
Processing listing 800/20000 (4.0%)
Processing listing 900/20000 (4.5%)
Processing listing 1000/20000 (5.0%)
  Creating lag features for listing 938858...
  Calculating rolling windows for listing 938858...
Processing listing 1100/20000 (5.5%)
Processing listing 1200/20000 (6.0%)
Processing listing 1300/20000 (6.5%)
Processing listing 1400/20000 (7.0%)
Processing listing 1500/20000 (7.5%)
Processing listing 1600/20000 (8.0%)
Processing listing 1700/20000 (8.5%)
Processing listing 1800/20000 (9.0%)
Processing listing 1900/20000 (9.5%)
Processing listing 2000/20000 (10.0%)
  Creating lag features for listing 2020964...
  Calculating rolling windows for listing 2020964...
Processing listing 2100/20000 (10.5%)
Processing listing 2200/20000 (11.0%)
Processing listing 2300/20000 (11.5%)
Processing listing 2400/20000 (12.0%)
Processing listing 2500/20000 (12.5%)
Processing listing 2600/20000 (13.0%)
Processing listing 2700/20000 (13.5%)
Processing listing 2800/20000 (14.0%)
Processing listing 2900/20000 (14.5%)
Processing listing 3000/20000 (15.0%)
  Creating lag features for listing 3292792...
  Calculating rolling windows for listing 3292792...
Processing listing 3100/20000 (15.5%)
Processing listing 3200/20000 (16.0%)
Processing listing 3300/20000 (16.5%)
Processing listing 3400/20000 (17.0%)
Processing listing 3500/20000 (17.5%)
Processing listing 3600/20000 (18.0%)
Processing listing 3700/20000 (18.5%)
Processing listing 3800/20000 (19.0%)
Processing listing 3900/20000 (19.5%)
Processing listing 4000/20000 (20.0%)
  Creating lag features for listing 4461412...
  Calculating rolling windows for listing 4461412...
Processing listing 4100/20000 (20.5%)
Processing listing 4200/20000 (21.0%)
Processing listing 4300/20000 (21.5%)
Processing listing 4400/20000 (22.0%)
Processing listing 4500/20000 (22.5%)
Processing listing 4600/20000 (23.0%)
Processing listing 4700/20000 (23.5%)
Processing listing 4800/20000 (24.0%)
Processing listing 4900/20000 (24.5%)
Processing listing 5000/20000 (25.0%)
  Creating lag features for listing 5723275...
  Calculating rolling windows for listing 5723275...
Processing listing 5100/20000 (25.5%)
Processing listing 5200/20000 (26.0%)
Processing listing 5300/20000 (26.5%)
Processing listing 5400/20000 (27.0%)
Processing listing 5500/20000 (27.5%)
Processing listing 5600/20000 (28.0%)
Processing listing 5700/20000 (28.5%)
Processing listing 5800/20000 (29.0%)
Processing listing 5900/20000 (29.5%)
Processing listing 6000/20000 (30.0%)
  Creating lag features for listing 6725966...
  Calculating rolling windows for listing 6725966...
Processing listing 6100/20000 (30.5%)
Processing listing 6200/20000 (31.0%)
Processing listing 6300/20000 (31.5%)
Processing listing 6400/20000 (32.0%)
Processing listing 6500/20000 (32.5%)
Processing listing 6600/20000 (33.0%)
Processing listing 6700/20000 (33.5%)
Processing listing 6800/20000 (34.0%)
Processing listing 6900/20000 (34.5%)
Processing listing 7000/20000 (35.0%)
  Creating lag features for listing 7357963...
  Calculating rolling windows for listing 7357963...
Processing listing 7100/20000 (35.5%)
Processing listing 7200/20000 (36.0%)
Processing listing 7300/20000 (36.5%)
Processing listing 7400/20000 (37.0%)
Processing listing 7500/20000 (37.5%)
Processing listing 7600/20000 (38.0%)
Processing listing 7700/20000 (38.5%)
Processing listing 7800/20000 (39.0%)
Processing listing 7900/20000 (39.5%)
Processing listing 8000/20000 (40.0%)
  Creating lag features for listing 8548445...
  Calculating rolling windows for listing 8548445...
Processing listing 8100/20000 (40.5%)
Processing listing 8200/20000 (41.0%)
Processing listing 8300/20000 (41.5%)
Processing listing 8400/20000 (42.0%)
Processing listing 8500/20000 (42.5%)
Processing listing 8600/20000 (43.0%)
Processing listing 8700/20000 (43.5%)
Processing listing 8800/20000 (44.0%)
Processing listing 8900/20000 (44.5%)
Processing listing 9000/20000 (45.0%)
  Creating lag features for listing 9912144...
  Calculating rolling windows for listing 9912144...
Processing listing 9100/20000 (45.5%)
Processing listing 9200/20000 (46.0%)
Processing listing 9300/20000 (46.5%)
Processing listing 9400/20000 (47.0%)
Processing listing 9500/20000 (47.5%)
Processing listing 9600/20000 (48.0%)
Processing listing 9700/20000 (48.5%)
Processing listing 9800/20000 (49.0%)
Processing listing 9900/20000 (49.5%)
Processing listing 10000/20000 (50.0%)
  Creating lag features for listing 11724389...
  Calculating rolling windows for listing 11724389...
Processing listing 10100/20000 (50.5%)
Processing listing 10200/20000 (51.0%)
Processing listing 10300/20000 (51.5%)
Processing listing 10400/20000 (52.0%)
Processing listing 10500/20000 (52.5%)
Processing listing 10600/20000 (53.0%)
Processing listing 10700/20000 (53.5%)
Processing listing 10800/20000 (54.0%)
Processing listing 10900/20000 (54.5%)
Processing listing 11000/20000 (55.0%)
  Creating lag features for listing 12977486...
  Calculating rolling windows for listing 12977486...
Processing listing 11100/20000 (55.5%)
Processing listing 11200/20000 (56.0%)
Processing listing 11300/20000 (56.5%)
Processing listing 11400/20000 (57.0%)
Processing listing 11500/20000 (57.5%)
Processing listing 11600/20000 (58.0%)
Processing listing 11700/20000 (58.5%)
Processing listing 11800/20000 (59.0%)
Processing listing 11900/20000 (59.5%)
Processing listing 12000/20000 (60.0%)
  Creating lag features for listing 13794099...
  Calculating rolling windows for listing 13794099...
Processing listing 12100/20000 (60.5%)
Processing listing 12200/20000 (61.0%)
Processing listing 12300/20000 (61.5%)
Processing listing 12400/20000 (62.0%)
Processing listing 12500/20000 (62.5%)
Processing listing 12600/20000 (63.0%)
Processing listing 12700/20000 (63.5%)
Processing listing 12800/20000 (64.0%)
Processing listing 12900/20000 (64.5%)
Processing listing 13000/20000 (65.0%)
  Creating lag features for listing 15363247...
  Calculating rolling windows for listing 15363247...
Processing listing 13100/20000 (65.5%)
Processing listing 13200/20000 (66.0%)
Processing listing 13300/20000 (66.5%)
Processing listing 13400/20000 (67.0%)
Processing listing 13500/20000 (67.5%)
Processing listing 13600/20000 (68.0%)
Processing listing 13700/20000 (68.5%)
Processing listing 13800/20000 (69.0%)
Processing listing 13900/20000 (69.5%)
Processing listing 14000/20000 (70.0%)
  Creating lag features for listing 17291175...
  Calculating rolling windows for listing 17291175...
Processing listing 14100/20000 (70.5%)
Processing listing 14200/20000 (71.0%)
Processing listing 14300/20000 (71.5%)
Processing listing 14400/20000 (72.0%)
Processing listing 14500/20000 (72.5%)
Processing listing 14600/20000 (73.0%)
Processing listing 14700/20000 (73.5%)
Processing listing 14800/20000 (74.0%)
Processing listing 14900/20000 (74.5%)
Processing listing 15000/20000 (75.0%)
  Creating lag features for listing 18768012...
  Calculating rolling windows for listing 18768012...
Processing listing 15100/20000 (75.5%)
Processing listing 15200/20000 (76.0%)
Processing listing 15300/20000 (76.5%)
Processing listing 15400/20000 (77.0%)
Processing listing 15500/20000 (77.5%)
Processing listing 15600/20000 (78.0%)
Processing listing 15700/20000 (78.5%)
Processing listing 15800/20000 (79.0%)
Processing listing 15900/20000 (79.5%)
Processing listing 16000/20000 (80.0%)
  Creating lag features for listing 19880142...
  Calculating rolling windows for listing 19880142...
Processing listing 16100/20000 (80.5%)
Processing listing 16200/20000 (81.0%)
Processing listing 16300/20000 (81.5%)
Processing listing 16400/20000 (82.0%)
Processing listing 16500/20000 (82.5%)
Processing listing 16600/20000 (83.0%)
Processing listing 16700/20000 (83.5%)
Processing listing 16800/20000 (84.0%)
Processing listing 16900/20000 (84.5%)
Processing listing 17000/20000 (85.0%)
  Creating lag features for listing 21316109...
  Calculating rolling windows for listing 21316109...
Processing listing 17100/20000 (85.5%)
Processing listing 17200/20000 (86.0%)
Processing listing 17300/20000 (86.5%)
Processing listing 17400/20000 (87.0%)
Processing listing 17500/20000 (87.5%)
Processing listing 17600/20000 (88.0%)
Processing listing 17700/20000 (88.5%)
Processing listing 17800/20000 (89.0%)
Processing listing 17900/20000 (89.5%)
Processing listing 18000/20000 (90.0%)
  Creating lag features for listing 22839194...
  Calculating rolling windows for listing 22839194...
Processing listing 18100/20000 (90.5%)
Processing listing 18200/20000 (91.0%)
Processing listing 18300/20000 (91.5%)
Processing listing 18400/20000 (92.0%)
Processing listing 18500/20000 (92.5%)
Processing listing 18600/20000 (93.0%)
Processing listing 18700/20000 (93.5%)
Processing listing 18800/20000 (94.0%)
Processing listing 18900/20000 (94.5%)
Processing listing 19000/20000 (95.0%)
  Creating lag features for listing 24511700...
  Calculating rolling windows for listing 24511700...
Processing listing 19100/20000 (95.5%)
Processing listing 19200/20000 (96.0%)
Processing listing 19300/20000 (96.5%)
Processing listing 19400/20000 (97.0%)
Processing listing 19500/20000 (97.5%)
Processing listing 19600/20000 (98.0%)
Processing listing 19700/20000 (98.5%)
Processing listing 19800/20000 (99.0%)
Processing listing 19900/20000 (99.5%)
Processing listing 20000/20000 (100.0%)
  Creating lag features for listing 26105213...
  Calculating rolling windows for listing 26105213...
Concatenating processed data...

Feature creation complete!
Initial rows: 15844935
Final rows after removing NaN: 12244935
Rows removed: 3600000 (22.7%)

In [60]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

def split_and_standardize(df, train_start='2024-04-01', train_end='2025-03-31', 
                         test_start='2025-04-01', test_end='2025-05-31'):
    """
    Split data into train and test sets based on dates and standardize features.
    
    Args:
        df: DataFrame with features and target
        train_start: Start date for training set
        train_end: End date for training set
        test_start: Start date for test set
        test_end: End date for test set
    """
    
    # Create train and test masks
    train_mask = (df['date'] >= train_start) & (df['date'] <= train_end)
    test_mask = (df['date'] >= test_start) & (df['date'] <= test_end)
    
    # Split data
    train_df = df[train_mask].copy()
    test_df = df[test_mask].copy()
    
    # Identify columns to standardize
    price_columns = [col for col in df.columns if any(x in col.lower() for x in 
                    ['price', 'lag', 'rolling'])]
    
    # Initialize scaler
    scaler = StandardScaler()
    
    # Fit scaler on train data and transform both sets
    train_df[price_columns] = scaler.fit_transform(train_df[price_columns])
    test_df[price_columns] = scaler.transform(test_df[price_columns])
    
    # Print info about the split
    print(f"Training set: {len(train_df)} rows, {train_df['date'].min()} to {train_df['date'].max()}")
    print(f"Test set: {len(test_df)} rows, {test_df['date'].min()} to {test_df['date'].max()}")
    
    # Save to CSV
    train_df.to_csv('train_data_2024.csv', index=False)
    test_df.to_csv('test_data_2025.csv', index=False)
    
    return train_df, test_df, scaler

# Example usage:
# Assuming df is your preprocessed DataFrame with all features
train_df, test_df, scaler = split_and_standardize(df)

Training set: 6931044 rows, 2024-04-01 00:00:00 to 2025-03-31 00:00:00
Test set: 1220000 rows, 2025-04-01 00:00:00 to 2025-05-31 00:00:00

In [1]:
import pandas as pd

# Load the data
train_data = pd.read_csv(r"C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Github Repository\Airbnb-spatiotemporal\train_data_2024.csv")
test_data = pd.read_csv(r"C:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Github Repository\Airbnb-spatiotemporal\test_data_2025.csv")

# Get first 200 unique listing IDs from train data
first_200_listings = train_data['listing_id'].unique()[:200]

# Filter both dataframes
train_filtered = train_data[train_data['listing_id'].isin(first_200_listings)]
test_filtered = test_data[test_data['listing_id'].isin(first_200_listings)]

# Save filtered data
train_filtered.to_csv('train_filtered_200.csv', index=False)
test_filtered.to_csv('test_filtered_200.csv', index=False)

# Print info about the filtered datasets
print("Original datasets:")
print(f"Train: {len(train_data)} rows, {len(train_data['listing_id'].unique())} unique listings")
print(f"Test: {len(test_data)} rows, {len(test_data['listing_id'].unique())} unique listings")

print("\nFiltered datasets:")
print(f"Train: {len(train_filtered)} rows, {len(train_filtered['listing_id'].unique())} unique listings")
print(f"Test: {len(test_filtered)} rows, {len(test_filtered['listing_id'].unique())} unique listings")

Original datasets:
Train: 6931044 rows, 20000 unique listings
Test: 1220000 rows, 20000 unique listings

Filtered datasets:
Train: 66131 rows, 200 unique listings
Test: 12200 rows, 200 unique listings

In [2]:
import os
import glob

# Print current working directory
print("Current working directory:", os.getcwd())

# List all files in current directory
print("\nFiles in current directory:")
for file in glob.glob("*"):
    print(file)

# List all csv files specifically
print("\nCSV files in current directory:")
for file in glob.glob("*.csv"):
    print(file)

Current working directory: c:\Users\matth\OneDrive\Documents\KU Leuven\Thesis\Github Repository\Airbnb-spatiotemporal

Files in current directory:
Baseline
Calender merge.ipynb
coord_scaler.save
Data_Cleaned.ipynb
EDA.ipynb
neural network
price_scaler.save
test_data_2025.csv
test_filtered_200.csv
train_data_2024.csv
train_filtered_200.csv

CSV files in current directory:
test_data_2025.csv
test_filtered_200.csv
train_data_2024.csv
train_filtered_200.csv